@model TrackingMap.Models.TrackerConditionModel

@using Jmelosegui.Mvc.GoogleMap


@Scripts.Render("~/Scripts/view/tracker.js")
@(Html.GoogleMap().ScriptRegistrar(scripts => scripts.Add("jmelosegui.googlemap.js")))

<div class="panel panel-default">
    <div class="options-bar">

        <div class="form-group row ">
            <div class="col-md-6 left">
                <div class="left">
                    <input value=@CaptionResource.Mapp type="button" id="btnMap" class="btn btn-primary" />
                </div>
            </div>

        </div>
    </div>
    <div class="panel-body">
        <div id="report1-filter" class="form-horizontal">

            <div class="form-group row">
                <div class="col-md-6">
                    <div class="col-md-3">
                        @Html.Label(CaptionResource.FromDate, new { @class = "control-label" })
                    </div>
                    <div class="col-md-5">
                        <input type="text" name="name" id="from_Date" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-3">
                        @Html.Label(CaptionResource.ToDate, new { @class = "control-label" })
                    </div>
                    <div class="col-md-5">
                        <input type="text" name="name" id="to_Date" />
                    </div>
                    <div class="col-md-1">
                    </div>
                </div>
            </div>
            <div class="form-group row">

                <div class="col-md-2">
                    @Html.RadioButton("rd_type", true, new { @id = "rd_visitor", @class = "control-label" })
                    @Html.Label(CaptionResource.Visitor, new { @class = "control-label" })
                    <img src="~/Content/img/pin/customer.png" />
                </div>
                <div class="col-md-2">
                    @Html.RadioButton("rd_type", false, new { @id = "rd_machin", @class = "control-label" })
                    @Html.Label(CaptionResource.Machin, new { @class = "control-label" })
                    <img src="~/Content/img/pin/car.png" />
                </div>

            </div>

            <div id="div_visitor">

                <div class="form-group row">
                    <div class="col-md-6">
                        <div class="col-md-3">
                            @Html.LabelFor(model =>  Model.AvailableVisitorGroup, new { @id = "chk_visitorgroup", @class = "control-label" })
                        </div>
                        <div class="col-md-9">

                            @Html.DropDownList("ddl_visitorgroup",
                                    new SelectList(
                                        Model.AvailableVisitorGroup,
                                        "Value",
                                        "Text"), new { @id = "ddl_visitorgroup", @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-3">
                            @Html.Label(CaptionResource.Visitor, new { @class = "control-label" })
                        </div>
                        <div class="col-md-9">
                            <select class="form-control" id="ddl_visitor"></select>
                        </div>
                    </div>
                </div>
            </div>

            <div id="div_machin">
                <div class="form-group row">
                    <div class="col-md-6">
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.AvailableDriver, new { @class = "control-label" })
                        </div>
                        <div class="col-md-9">
                            @Html.DropDownList("ddl_driver",
                                    new SelectList(Model.AvailableDriver,
                                        "Value", "Text"), new { @id = "ddl_driver", @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="row">
            <div class="col-md-12">
                
                <div id="Report_Map">
                    <div style="background: #f5f5f5; height: 500px; border: solid 1px #ccc " id="mapContainer">
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

