
@Scripts.Render("~/Scripts/view/laststatus.js")

<div class="panel panel-default panel-main">
    <div class="panel-body">


        <div class="col-md-3">
            <div class="side-bar" style="height: 600px;">
                <div id="pnl_condition" class="frame-condition">

                    <div>
                        <button id='btn_run' class='btn btn-primary color-gray full-width'>@CaptionResource.Run<span id="spn_marker" class='glyphicon glyphicon-refresh'></span></button>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-3">
                            <label for="ddl_area">@CaptionResource.Area1</label>
                        </div>
                        <div class="col-md-9">
                            <select class="form-control" id="ddl_area"></select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label for="ddl_team">@CaptionResource.Team</label>
                        </div>
                        <div class="col-md-9">
                            <select class="form-control" id="ddl_team"></select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label for="ddl_visitor_group">@CaptionResource.Header</label>
                        </div>
                        <div class="col-md-9">
                            <select class="form-control" id="ddl_visitor_group"></select>
                        </div>
                    </div>
                    <br />
                    <div id="pnl_Visitor">
                        <div id="grid_visitor" class="full-width"></div>
                    </div>

                </div>

            </div>
        </div>

        <div class="col-md-9">
            <div id="Report_Frame" class="frame-map" style="height: 600px;">
                <div id="mapContainer"> </div>
            </div>
        </div>

    </div>

</div>
