
@using Jmelosegui.Mvc.GoogleMap


@Scripts.Render("~/Scripts/view/visitor.js")

@(Html.GoogleMap().ScriptRegistrar(scripts => scripts.Add("jmelosegui.googlemap.js")))

@model TrackingMap.Common.ViewModel.VisitorConditionModel

<div class="panel panel-default panel-main">
    <div class="options-bar">
        <div class="form-group row ">

            <div class="col-md-12">
                <div class="right">
                    <button id='btn_run' class='btn btn-default'>@CaptionResource.Run</button>
                </div>
            </div>

        </div>
    </div>

    <div class="panel-body">
        
        <div class="col-md-3">
            <div class="side-bar">
                <div id="pnl_condition" class="frame-condition">
                    @*<div>
                        <button id='btn_marker' class='btn btn-default color-gray full-width'>@CaptionResource.Markers<span id="spn_marker" class='glyphicon glyphicon-chevron-down'></span></button>
                    </div>*@
                    <div id="pnl_marker" class="frame-border">


                        <img src="~/Content/img/pin/order.png" />
                        @Html.CheckBox("chk_order", true, new { @id = "chk_order", @class = "control-label" })
                        <label for="chk_order">@CaptionResource.Order</label>
                        <br />
                        <span>&ensp;&ensp;</span>
                        <img src="~/Content/img/pin/order1.png" />
                        <label>@CaptionResource.OrderNewCustomer</label>
                        <br />
                        <img src="~/Content/img/pin/lackorder.png" />
                        @Html.CheckBox("chk_lack_order", true, new { @id = "chk_lack_order", @class = "control-label" })
                        <label for="chk_lack_order">@CaptionResource.LackOfOrder</label>
                        <br />
                        <img src="~/Content/img/pin/lackvisit.png" />
                        @Html.CheckBox("chk_lack_visit", true, new { @id = "chk_lack_visit", @class = "control-label" })
                        <label for="chk_lack_visit">@CaptionResource.LackOfVisit</label>
                        <br />
                        <img src="~/Content/img/pin/withoutactivity.png" />
                        @Html.CheckBox("chk_without_activity", true, new { @id = "chk_without_activity", @class = "control-label" })
                        <label for="chk_without_activity">@CaptionResource.WithoutActivity</label>
                        <br />
                        <img src="~/Content/img/pin/wating.png" />
                        @Html.CheckBox("chk_wait", true, new { @id = "chk_wait", @class = "control-label" })
                        <label for="chk_wait">@CaptionResource.WaitWithoutCustomer</label>
                        <br />
                        <img src="~/Content/img/pin/outeline.png" />
                        <label>@CaptionResource.OutOfLine</label>
                        <br />
                        <img src="~/Content/img/pin/distance.png" />
                        <label>@CaptionResource.Distance</label>
                        <br />
                        @Html.CheckBox("chk_device", true, new { @id = "chk_device", @class = "control-label" })
                        <label for="chk_device">@CaptionResource.DeviceActivity</label>
                        <br />
                        <span>&ensp;&ensp;</span>
                        <img src="~/Content/img/pin/gpsoff.png" />
                        <label>@CaptionResource.GpsOff</label>
                    </div>
                    <br />
                    <div>
                        @Html.CheckBox("chk_daily_path", false, new { @id = "chk_daily_path", @class = "control-label" })
                        <label for="chk_daily_path">@CaptionResource.DailyPath</label>
                        <br />
                        @Html.CheckBox("chk_visitor_path", true, new { @id = "chk_visitor_path", @class = "control-label" })
                        <label for="chk_visitor_path">@CaptionResource.VisitorPath</label>
                    </div>
                    <br />

                    <div class="row">
                        <div class="col-md-3">
                            <label for="dte_date">@CaptionResource.Date</label>
                        </div>
                        <div class="col-md-9">
                            <input type="text" id="dte_date" />
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-3">
                            <label for="dte_date">@CaptionResource.Time</label>
                        </div>
                        <div class="col-md-9">
                            <input type="text" id="tim_from" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label for="dte_date">@CaptionResource.To</label>
                        </div>
                        <div class="col-md-9">
                            <input type="text" id="tim_to" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-3">
                            <label for="ddl_area">@CaptionResource.Area1</label>
                        </div>
                        <div class="col-md-9">
                            <select class="form-control" id="ddl_area"></select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label for="ddl_visitor_group">@CaptionResource.Group</label>
                        </div>
                        <div class="col-md-9">
                            <select class="form-control" id="ddl_visitor_group"></select>
                        </div>
                    </div>

                </div>

                <div id="pnl_Visitor">
                    <div id="grid_visitor" class="full-width"></div>
                </div>
            </div>
        </div>

        <div class="col-md-9">
            <div id="Report_Frame" class="frame-map">
                <div id="mapContainer"> </div>                
            </div>
        </div>

    </div>

</div>
