@Scripts.Render("~/Scripts/view/area.js")

<div class="panel panel-default panel-main">

    <div id="pnl_path" class="path-bar"></div>

    <div class="panel-body">


        <div class="col-md-3">
            <div class="side-bar">
                <div id="pnl_condition" class="frame-condition">
                    <div id="div_customer">
                        @Html.CheckBox("chk_customer", false, new { @id = "chk_customer", @class = "control-label" })
                        <label for="chk_customer">@CaptionResource.ShowCustomer</label>
                    </div>

                    <div id="div_leaf_customer">
                        <div>
                            <img src="~/Content/img/pin/customer1.png" />
                            @Html.CheckBox("chk_customer_route", true, new { @id = "chk_customer_route", @class = "control-label" })
                            <label for="chk_customer_route">@CaptionResource.CustomerRoute</label>
                        </div>
                        <div>
                            <img src="~/Content/img/pin/customer2.png" />
                            @Html.CheckBox("chk_customer_other_route", true, new { @id = "chk_customer_other_route", @class = "control-label" })
                            <label for="chk_customer_other_route">@CaptionResource.CustomerOtherRoute</label>
                        </div>
                        <div>
                            <img src="~/Content/img/pin/customer0.png" />
                            @Html.CheckBox("chk_customer_without_route", true, new { @id = "chk_customer_without_route", @class = "control-label" })
                            <label for="chk_customer_without_route">@CaptionResource.CustomerWithOutRoute</label>
                        </div>

                    </div>
                </div>

                <div id="pnl_Area">
                    <div id="grid_area" class="full-width"></div>
                </div>
            </div>
        </div>

        <div class="col-md-9">
            <div calss="row">
                <div class="options-bar">
                    <div class="col-md-12">
                        <div class="left">
                            <input value=@CaptionResource.Save type="button" id="btn_save" class="btn btn-default">
                            <input value=@CaptionResource.Save type="button" id="btn_customer_save" class="btn btn-default">
                            <input value=@CaptionResource.Cancel type="button" id="btn_cancel" class="btn btn-default">
                            <button id='btn_add_new_customer' class='btn btn-default'>تعریف مکان مشتری</button>
                            <button id='btn_add_customer_list' class='btn btn-default'>اختصاص مشتریان به مسیر</button>
                            <button id='btn_remove_customer_list' class='btn btn-default'>حذف مشتریان از مسیر</button>
                        </div>

                        <div class="right">
                            @*<button id='btn_detail' class='btn btn-default'><i class='glyphicon glyphicon-zoom-in'></i></button>
                                <button id='btn_edit' class='btn btn-default'><i class='glyphicon glyphicon-pencil'></i></button>*@
                            <button id='btn_set_customer' class='btn btn-default'>مشتریان مسیر</button>
                            <button id='btn_map' class='btn btn-default'>@CaptionResource.Map</button>
                        </div>
                    </div>
                </div>

            </div>


            <div calss="row">
                <div id="Report_Frame" class="frame-map-with-header">
                    <div id="dlg_customer" class="modal fade" role="dialog" >
                        <div class="modal-dialog" style="width:400px">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">تعریف مکان مشتری</h4>
                                </div>
                                <div class="modal-body">
                                    <input id='customer' style="width:300px;"/>
                                    <input type="hidden" id="dlg_customer_hdn_lat" value="" />
                                    <input type="hidden" id="dlg_customer_hdn_lng" value="" />
                                    <input type="hidden" id="dlg_customer_hdn_id" value="" />
                                    <input type="hidden" id="dlg_customer_hdn_point_id" value="" />
                                </div>
                                <div class="modal-footer">
                                    <button id='btn_save_customer_position' class='btn btn-primary large-btn'>ذخیره</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="mapContainer">  </div>

                    <div id="customerContainer">
                        <div id="grid_customer_not_selected" class="full-width" style="height:250px"></div>
                        <br />
                        <div id="grid_customer_selected" class="full-width" style="height:250px"></div>
                    </div>
                </div>
            </div>
        </div>



    </div>

</div>
