@Scripts.Render("~/Scripts/view/goodbyvaluereport.js")

<div class="panel panel-default panel-main">
    <div id="pnl_path" class="path-bar"></div>

    <div class="panel-body">
        <div class="header-bar">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-1">
                        <label>@CaptionResource.FromDate</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" id="dte_from" />
                    </div>
                    <div class="col-md-1">
                        <label>@CaptionResource.ToDate</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" id="dte_to" />
                    </div>

                    <div class="col-md-offset-1 col-md-3">
                        <div class="left">
                            <button id='btn_adv_con' class='btn btn-default color-gray'>@CaptionResource.Advance</button>
                            <button id='btn_run' class='btn btn-primary color-gray large-btn'>@CaptionResource.Run</button>
                        </div>
                    </div>
                </div>
                <div id="div_advance_condition">

                    <div class="row">
                        <div class="col-md-1">
                            <label>@CaptionResource.SaleOffice</label>
                        </div>
                        <div class="col-md-3">
                            <select class="form-control" id="ddl_sale_office"></select>
                        </div>

                        <div class="col-md-1">
                            <label for="ddl_header">@CaptionResource.Header</label>
                        </div>
                        <div class="col-md-3">
                            <select class="form-control" id="ddl_header"></select>
                        </div>

                        <div class="col-md-1">
                            <label for="ddl_seller">@CaptionResource.Seller</label>
                        </div>
                        <div class="col-md-3">
                            <select class="form-control" id="ddl_seller"></select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-1">
                            <label for="ddl_customer_class">@CaptionResource.CustomerClass</label>
                        </div>
                        <div class="col-md-3">
                            <select class="form-control" id="ddl_customer_class"></select>
                        </div>

                        <div class="col-md-1">
                            <label for="ddl_customer_activity">@CaptionResource.CustomerActivity</label>
                        </div>
                        <div class="col-md-3">
                            <select class="form-control" id="ddl_customer_activity"></select>
                        </div>

                        <div class="col-md-1">
                            <label for="ddl_customer_degree">@CaptionResource.CustomerDegree</label>
                        </div>
                        <div class="col-md-3">
                            <select class="form-control" id="ddl_customer_degree"></select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-1">
                            <label for="ddl_good_group">@CaptionResource.GoodGroup</label>
                        </div>
                        <div class="col-md-3">
                            <select class="form-control" id="ddl_good_group"></select>
                        </div>

                        <div class="col-md-1">
                            <label for="ddl_dynamic_group">@CaptionResource.DynamicGroup</label>
                        </div>
                        <div class="col-md-3">
                            <select class="form-control" id="ddl_dynamic_group"></select>
                        </div>

                        <div class="col-md-1">
                            <label for="ddl_good">@CaptionResource.Good</label>
                        </div>
                        <div class="col-md-3">
                            <select class="form-control" id="ddl_good"></select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-1">
                            <label>@CaptionResource.GoodCommercialName</label>
                        </div>
                        <div class="col-md-3">
                            <input type="text" id="txt_commercial_good_name" class="form-control" />
                        </div>
                        <div class="col-md-1">
                            <label>@CaptionResource.DayNotVisit</label>
                        </div>
                        <div class="col-md-3">
                            <input type="number" id="txt_day_not_visit" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group row ">

            <div class="col-md-3">
                <div class="side-bar">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#pnl_condition">خروجی ها</a></li>
                        <li><a data-toggle="tab" href="#pnl_area">محدوده ها</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="pnl_area" class="tab-pane fade">
                            <br />
                            <div id="grid_area" class="full-width"></div>
                        </div>


                        <div id="pnl_condition" class="tab-pane fade in active">
                            <div id="pnl_marker" class="frame-border">

                                @Html.CheckBox("chk_request_count", false, new { @id = "chk_request_count", @class = "control-label" })
                                <label for="chk_request_count">تعداد درخواست</label>
                                <div id="div_request_count" class="panel-value">
                                    <label for="from_request_count">از</label>
                                    <input id="from_request_count" type="number" class="form-control" />

                                    <label for="to_request_count">تا</label>
                                    <input id="to_request_count" type="number" class="form-control" />

                                </div>
                                <br />

                                @Html.CheckBox("chk_factor_count", false, new { @id = "chk_factor_count", @class = "control-label" })
                                <label for="chk_factor_count">تعداد فاکتور</label>
                                <div id="div_factor_count" class="panel-value">
                                    <label for="from_factor_count">از</label>
                                    <input id="from_factor_count" type="number" class="form-control" />

                                    <label for="to_factor_count">تا</label>
                                    <input id="to_factor_count" type="number" class="form-control" />

                                </div>
                                <br />

                                @Html.CheckBox("chk_reject_count", false, new { @id = "chk_reject_count", @class = "control-label" })
                                <label for="chk_reject_count">تعداد برگشت فاکتور</label>
                                <div id="div_reject_count" class="panel-value">
                                    <label for="from_reject_count">از</label>
                                    <input id="from_reject_count" type="number" class="form-control" />

                                    <label for="to_reject_count">تا</label>
                                    <input id="to_reject_count" type="number" class="form-control" />

                                </div>
                                <br />

                                @Html.CheckBox("chk_sale_item_count", false, new { @id = "chk_sale_item_count", @class = "control-label" })
                                <label for="chk_sale_item_count">تعداد اقلام کالای فروش رفته</label>
                                <div id="div_sale_item_count" class="panel-value">
                                    <label for="from_sale_item_count">از</label>
                                    <input id="from_sale_item_count" type="number" class="form-control" />

                                    <label for="to_sale_item_count">تا</label>
                                    <input id="to_sale_item_count" type="number" class="form-control" />

                                </div>
                                <br />

                                @Html.CheckBox("chk_reject_item_count", false, new { @id = "chk_reject_item_count", @class = "control-label" })
                                <label for="chk_reject_item_count">تعداد اقلام کالای برگشتی</label>
                                <div id="div_reject_item_count" class="panel-value">
                                    <label for="from_reject_item_count">از</label>
                                    <input id="from_reject_item_count" type="number" class="form-control" />

                                    <label for="to_reject_item_count">تا</label>
                                    <input id="to_reject_item_count" type="number" class="form-control" />

                                </div>
                                <br />

                                @Html.CheckBox("chk_sale_amount", false, new { @id = "chk_sale_amount", @class = "control-label" })
                                <label for="chk_sale_amount">تعداد کالای فروش رفته (کارتن : ظرف)</label>
                                <div id="div_sale_amount" class="panel-value">
                                    <label for="from_sale_amount">از</label>
                                    <input id="from_sale_amount" type="number" class="form-control" />

                                    <label for="to_sale_amount">تا</label>
                                    <input id="to_sale_amount" type="number" class="form-control" />

                                </div>
                                <br />

                                @Html.CheckBox("chk_reject_amount", false, new { @id = "chk_reject_amount", @class = "control-label" })
                                <label for="chk_reject_amount">تعداد کالای برگشتی (کارتن : ظرف)</label>
                                <div id="div_reject_amount" class="panel-value">
                                    <label for="from_reject_amount">از</label>
                                    <input id="from_reject_amount" type="number" class="form-control" />

                                    <label for="to_reject_amount">تا</label>
                                    <input id="to_reject_amount" type="number" class="form-control" />

                                </div>
                                <br />

                                @Html.CheckBox("chk_sale_price", false, new { @id = "chk_sale_price", @class = "control-label" })
                                <label for="chk_sale_price">ریال کالای فروش رفته</label>
                                <div id="div_sale_price" class="panel-value">
                                    <label for="from_sale_price">از</label>
                                    <input id="to_sale_price" type="number" class="form-control" />

                                    <label for="to_sale_price">تا</label>
                                    <input id="to_sale_price" type="number" class="form-control" />

                                </div>
                                <br />

                                @Html.CheckBox("chk_reject_price", false, new { @id = "chk_reject_price", @class = "control-label" })
                                <label for="chk_reject_price">ریال کالای برگشتی</label>
                                <div id="div_reject_pric" class="panel-value">
                                    <label for="from_reject_pric">از</label>
                                    <input id="from_reject_pric" type="number" class="form-control" />

                                    <label for="to_reject_pric">تا</label>
                                    <input id="to_reject_pric" type="number" class="form-control" />

                                </div>
                                <br />

                                @Html.CheckBox("chk_sale_weight", false, new { @id = "chk_sale_weight", @class = "control-label" })
                                <label for="chk_sale_weight">وزن کالای فروش رفته</label>
                                <div id="div_sale_weight" class="panel-value">
                                    <label for="from_sale_weight">از</label>
                                    <input id="from_sale_weight" type="number" class="form-control" />

                                    <label for="to_sale_weight">تا</label>
                                    <input id="to_sale_weight" type="number" class="form-control" />

                                </div>
                                <br />

                                @Html.CheckBox("chk_reject_weight", false, new { @id = "chk_reject_weight", @class = "control-label" })
                                <label for="chk_reject_weight">وزن کالای برگشتی</label>
                                <div id="div_reject_weight" class="panel-value">
                                    <label for="from_reject_weight">از</label>
                                    <input id="from_reject_weight" type="number" class="form-control" />

                                    <label for="to_reject_weight">تا</label>
                                    <input id="to_reject_weight" type="number" class="form-control" />

                                </div>
                                <br />

                                @Html.CheckBox("chk_sale_discount", false, new { @id = "chk_sale_discount", @class = "control-label" })
                                <label for="chk_sale_discount">ریال تخفیف فروش رفته</label>
                                <div id="div_sale_discount" class="panel-value">
                                    <label for="from_sale_discount">از</label>
                                    <input id="from_sale_discount" type="number" class="form-control" />

                                    <label for="to_sale_discount">تا</label>
                                    <input id="to_sale_discount" type="number" class="form-control" />

                                </div>
                                <br />

                                @Html.CheckBox("chk_reject_discount", false, new { @id = "chk_reject_discount", @class = "control-label" })
                                <label for="chk_reject_discount">ریال تخفیف برگشتی</label>
                                <div id="div_reject_discount" class="panel-value">
                                    <label for="from_reject_discount">از</label>
                                    <input id="from_reject_discount" type="number" class="form-control" />

                                    <label for="to_reject_discount">تا</label>
                                    <input id="to_reject_discount" type="number" class="form-control" />

                                </div>
                                <br />

                                @Html.CheckBox("chk_bonus_count", false, new { @id = "chk_bonus_count", @class = "control-label" })
                                <label for="chk_bonus_count">تعداد اقلام جایزه</label>
                                <div id="div_bonus_count" class="panel-value">
                                    <label for="from_bonus_count">از</label>
                                    <input id="from_bonus_count" type="number" class="form-control" />

                                    <label for="to_bonus_count">تا</label>
                                    <input id="to_bonus_count" type="number" class="form-control" />

                                </div>
                                <br />

                                @Html.CheckBox("chk_bonus_amount", false, new { @id = "chk_bonus_amount", @class = "control-label" })
                                <label for="chk_bonus_amount">تعداد جایزه (کارتن : ظرف)</label>
                                <div id="div_bonus_amount" class="panel-value">
                                    <label for="from_bonus_amount">از</label>
                                    <input id="from_bonus_amount" type="number" class="form-control" />

                                    <label for="to_bonus_amount">تا</label>
                                    <input id="to_bonus_amount" type="number" class="form-control" />

                                </div>
                                <br />

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-9">
                <div id="Report_Frame" class="frame-map">
                    <div id="mapContainer"> </div>
                </div>
            </div>

        </div>

    </div>

</div>
