@model TrackingMap.Models.ReportModel

@using Jmelosegui.Mvc.GoogleMap


@Scripts.Render("~/Scripts/view/report.js")
@(Html.GoogleMap().ScriptRegistrar(scripts => scripts.Add("jmelosegui.googlemap.js")))
@(Html.GoogleMap().ScriptRegistrar(scripts => scripts.Add("markerclusterer.js")))


<div class="panel panel-default panel-main">
    <div class="options-bar">

        <div class="form-group row ">

            <div class="col-md-7">
                <div class="btn-group" role="group" aria-label="...">
                    <button id="btn_order" type="button" class="btn btn-default"><img src="~/Content/img/pin/order.png" /><span>@CaptionResource.Order</span></button>
                    <button id="btn_factor" type="button" class="btn btn-default"><img src="~/Content/img/pin/factor.png" /><span>@CaptionResource.Factor</span></button>
                    <button id="btn_not_order" type="button" class="btn btn-default"><img src="~/Content/img/pin/notorder.png" /><span>@CaptionResource.NotOrder</span></button>
                    <button id="btn_not_visit" type="button" class="btn btn-default"><img src="~/Content/img/pin/notvisit.png" /><span>@CaptionResource.NotVisit</span></button>
                    <button id="btn_visitor" type="button" class="btn btn-default"><img src="~/Content/img/pin/visitor.png" /><span>@CaptionResource.Visitor</span></button>
                    <button id="btn_car" type="button" class="btn btn-default"><img src="~/Content/img/pin/car.png" /><span>@CaptionResource.Machin</span></button>
                    <button id="btn_customer" type="button" class="btn btn-default"><img src="~/Content/img/pin/customer.png" /><span>@CaptionResource.Customer</span></button>
                </div>
            </div>

            <div class="col-md-3">
                <div class="btn-group" role="group" aria-label="...">
                    <button id="btn_area" type="button" class="btn btn-default"><img src="~/Content/img/pin/area.png" /><span>@CaptionResource.Area</span></button>
                    <button id="btn_road" type="button" class="btn btn-default"><img src="~/Content/img/pin/road.png" /><span>@CaptionResource.Roads</span></button>
                </div>
            </div>

            <div class="col-md-2 left">
                <div class="left">
                    <input value=@CaptionResource.Run type="button" id="btn_run" class="btn btn-default" />
                    @*<input value=@CaptionResource.List type="button" id="btnList" class="btn btn-primary " />*@
                    @* <input value=@CaptionResource.Empty type="button" id="btnEmpty" class="btn btn-primary" />*@
                </div>
            </div>

        </div>
    </div>

    <input id="chk_order" type="hidden" value="false" />
    <input id="chk_factor" type="hidden" value="false" />
    <input id="chk_not_order" type="hidden" value="false" />
    <input id="chk_not_visit" type="hidden" value="false" />
    <input id="chk_visitor" type="hidden" value="false" />
    <input id="chk_customer" type="hidden" value="false" />
    <input id="chk_car" type="hidden" value="false" />
    <input id="chk_road" type="hidden" value="false" />
    <input id="chk_area" type="hidden" value="false" />



    <div class="panel-body">

        <div id="report1-filter">
            @Html.Partial("_OrderFilter")
            @Html.Partial("_FactorFilter")
            @Html.Partial("_VisitorFilter")
            @Html.Partial("_CustomerFilter")
            <div class="form-group row">
                <div id="pnl_area" class="col-md-6">

                    <div class="col-md-2">
                        @Html.LabelFor(model => model.AvailableAreaGroup, new { @class = "control-label" })
                    </div>
                    <div class="col-md-10">
                        @Html.DropDownList("ddl_area_group",
                        new SelectList(
                            Model.AvailableAreaGroup,
                            "Value",
                            "Text"), new { @id = "ddl_area_group", @class = "form-control" })

                    </div>


                </div>
                <div id="pnl_road" class="col-md-6">
                    <div class="col-md-2">
                        @Html.LabelFor(model => model.AvailableRoadGroup, new { @class = "control-label" })
                    </div>
                    <div class="col-md-10">
                        @Html.DropDownList("ddl_road_group",
                                new SelectList(
                                    Model.AvailableRoadGroup,
                                    "Value",
                                             "Text"), new { @id = "ddl_road_group", @class = "form-control" })
                    </div>
                </div>

            </div>
        </div>

        <div id="pnl_tab_lists" class="col-md-4 no-margin">

            <ul class="nav vert-nav-tabs">
                <li>
                    <button id="btn_lists" class="btn btn-link"><i id="i_btn_lists" class="glyphicon glyphicon-chevron-right color-gray"></i></button>
                </li>
                <li class="active"><a href="#pnl_order_list" data-toggle="tab"><span class="glyphicon"><img src="~/Content/img/pin/order.png" /></span></a></li>
                <li><a href="#pnl_factor_list" data-toggle="tab"><span class="glyphicon"><img src="~/Content/img/pin/factor.png" /></span></a></li>
                <li><a href="#pnl_notorder_list" data-toggle="tab"><span class="glyphicon"><img src="~/Content/img/pin/notorder.png" /></span></a></li>
                <li><a href="#pnl_notvisit_list" data-toggle="tab"><span class="glyphicon"><img src="~/Content/img/pin/notvisit.png" /></span></a></li>
                <li><a href="#pnl_visitor_list" data-toggle="tab"><span class="glyphicon"><img src="~/Content/img/pin/visitor.png" /></span></a></li>
                <li><a href="#pnl_car_list" data-toggle="tab"><span class="glyphicon"><img src="~/Content/img/pin/car.png" /></span></a></li>
                <li><a href="#pnl_customer_list" data-toggle="tab"><span class="glyphicon"><img src="~/Content/img/pin/customer.png" /></span></a></li>
            </ul>
            <div id="pnl_lists" class="vert-tab-content tab-content side-bar">
                <div class="vert-tab-pane tab-pane active" id="pnl_order_list">
                    <div id="order_grid"> </div>
                </div>
                <div class="vert-tab-pane tab-pane active" id="pnl_factor_list">
                    <div id="factor_grid"></div>
                </div>
                <div class="vert-tab-pane tab-pane active" id="pnl_notorder_list">
                    <div id="notorder_grid"></div>
                </div>
                <div class="vert-tab-pane tab-pane" id="pnl_notvisit_list">
                    <div id="notvisit_grid"></div>
                </div>
                <div class="vert-tab-pane tab-pane" id="pnl_visitor_list">
                    <div id="visitor_grid"></div>
                </div>
                <div class="vert-tab-pane tab-pane" id="pnl_car_list">
                    <div id="car_grid"></div>
                </div>
                <div class="vert-tab-pane tab-pane" id="pnl_customer_list">
                    <div id="customer_grid"></div>
                </div>
            </div><!-- /tab-content -->
        </div>


        @*<div id="pnl_map" class="col-md-8">

            <div class="col-md-12">*@
        <div id="pnl_map" class="col-md-8">
                <div id="Report_Map">
                    <div class="frame-map" id="mapContainer">
                    </div>
                </div>
        </div>

    </div>

</div>

