
@Scripts.Render("~/Scripts/view/report.js")
@Scripts.Render("~/Scripts/view/financereport.js")
@Scripts.Render("~/Scripts/view/financebyvaluereport.js")
@Scripts.Render("~/Scripts/view/gethtml.js")


<div class="panel panel-default panel-main">
    <div id="pnl_path" class="path-bar"></div>

    <div class="panel-body">
        <div class="header-bar">
            <div class="form-group" id ="pnl_header_condition">
                <div class="row">
                    <div class="col-md-2">
                        <input type="radio" id="rd_region" name="report_type" value=1 checked> مبتنی بر منطقه 
                        <br/>
                        <input type="radio" id="rd_customer" name="report_type" value=2> مبتنی بر مشتری
                    </div>
                    <div class="col-md-2">
                        <label>@CaptionResource.FromDate</label>
                        <input type="text" id="dte_from" class="form-control mydate" />
                    </div>
                    <div class="col-md-2">
                        <label>@CaptionResource.ToDate</label>
                        <input type="text" id="dte_to" class="form-control mydate" />
                    </div>
                    <div class="col-md-2">
                        <label>@CaptionResource.DefaultField</label>
                        <select class="form-control"  id="ddl_default">
                            <option value="0" selected="selected">عنوان</option>
                            <option value="1" >تعدادفاکتورباز</option>
                            <option value="2" >مبلغ فاکتورباز</option>
                            <option value="3">تعدادچک برگشتی</option>
                            <option value="4">مبلغ چک برگشتی</option>
                            <option value="5">تعداد چک درجریان</option>
                            <option value="6">مبلغ چک در جریان</option>
                            <option value="7">اعتباراولیه ی اسنادی</option>
                            <option value="8">مانده ی اعتبار اسنادی</option>
                            <option value="9">اعتباراولیه ی بدهکاری</option>
                            <option value="10">مانده ی اعتبار بدهکاری</option>
                            <option value="11">تعداد روز فاکتور باز</option>
                       </select>
                    </div>

                    <div class="col-md-4">
                        <div class="left">
                            <button id='btn_adv_con' class='btn btn-default color-gray'>@CaptionResource.Advance</button>
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary">@CaptionResource.Print</button>
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                </button>
                                <ul id="dropdown_print" class="dropdown-menu" role="menu"></ul>
                            </div>
                            <button id='btn_run' class='btn btn-primary large-btn'>@CaptionResource.Run</button>

                        </div>
                    </div>
                </div>
                <div id="div_advance_condition">

                    <div class="row">
                        <div class="col-md-1">
                            <label>@CaptionResource.SaleOffice</label>
                        </div>
                        <div class="col-md-3">
                            <div id="ddl_sale_office" class="form-control mycombo"></div>

                            @*   <select class="form-control" id="ddl_sale_office"></select>*@
                        </div>

                        <div class="col-md-1">
                            <label for="ddl_header">@CaptionResource.Header</label>
                        </div>
                        <div class="col-md-3">
                            <div id="ddl_header" class="form-control mycombo"></div>
                        </div>

                        <div class="col-md-1">
                            <label for="ddl_seller">@CaptionResource.Seller</label>
                        </div>
                        <div class="col-md-3">
                            <div id="ddl_seller" class="form-control mycombo"></div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-1">
                            <label for="ddl_customer_class">@CaptionResource.CustomerClass</label>
                        </div>
                        <div class="col-md-3">
                            <div id="ddl_customer_class" class="form-control mycombo"></div>
                        </div>

                        <div class="col-md-1">
                            <label for="ddl_customer_activity">@CaptionResource.CustomerActivity</label>
                        </div>
                        <div class="col-md-3">
                            <div id="ddl_customer_activity" class="form-control mycombo"></div>
                        </div>

                        <div class="col-md-1">
                            <label for="ddl_customer_degree">@CaptionResource.CustomerDegree</label>
                        </div>
                        <div class="col-md-3">
                            <div id="ddl_customer_degree" class="form-control mycombo"></div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-1">
                            <label for="ddl_good_group">@CaptionResource.GoodGroup</label>
                        </div>
                        <div class="col-md-3">
                            <div id="ddl_good_group" class="form-control mycombo"></div>
                        </div>

                        @*<div class="col-md-1">
                            <label for="ddl_dynamic_group">@CaptionResource.DynamicGroup</label>
                        </div>
                        <div class="col-md-3">
                            <select class="form-control" id="ddl_dynamic_group"></select>
                        </div>*@

                        <div class="col-md-1">
                            <label for="ddl_good">@CaptionResource.Good</label>
                        </div>
                        <div class="col-md-3">
                            <div id="ddl_good" class="form-control mycombo"></div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-1">
                            <label for="ddl_unsold_good_group">@CaptionResource.UnSoldGoodGroup</label>
                        </div>
                        <div class="col-md-3">
                            <div id="ddl_unsold_good_group" class="form-control mycombo"></div>
                        </div>

                        <div class="col-md-1">
                            <label for="ddl_unsold_good">@CaptionResource.UnsoldGood</label>
                        </div>
                        <div class="col-md-3">
                            <div id="ddl_unsold_good" class="form-control mycombo"></div>
                        </div>
                    </div>

                    @*<div class="row">
                        <div class="col-md-1">
                            <label>@CaptionResource.GoodCommercialName</label>
                        </div>
                        <div class="col-md-3">
                            <input type="text" id="txt_commercial_good_name" class="form-control" />
                        </div>
                        <div class="col-md-1">
                            <label>@CaptionResource.DayNotVisit</label>
                        </div>
                        <div class="col-md-3">
                            <input type="number" id="txt_day_not_visit" class="form-control" />
                        </div>
                    </div>*@
                </div>
            </div>
        </div>

        <div class="form-group row ">

            <div class="col-md-3">
                <div class="side-bar" style="height: 600px;">
                    <ul class="nav nav-tabs">
                        <li class="active"><a id="tab_area_list" data-toggle="tab" href="#pnl_area">محدوده ها</a></li>
                        <li><a id="tab_result_check" data-toggle="tab" href="#pnl_condition">خروجی ها</a></li>
                        <li><a id="tab_info" data-toggle="tab" href="#pnl_info">اطلاعات</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="pnl_area" class="tab-pane fade in active">
                            <div id ="div_custom_point">
                                @Html.CheckBox("chk_custom_point", false, new { @id = "chk_custom_point", @class = "control-label" })
                                <label for="chk_custom_point">محدوده دلخواه</label>
                                <button id='btn_clean' class='btn btn-default btn-xs color-gray'>@CaptionResource.Clean</button>
                            </div>

                            
                            <div id="grid_area" class="full-width"></div>
                        </div>


                        <div id="pnl_condition" class="tab-pane fade">
                            <div id="pnl_marker" style="height: 450px" class="frame-border color-back-ligt-gray">
                                <button id='btn_select_all' class='btn btn-default btn-xs color-gray'>@CaptionResource.SelectAll</button>
                                <button id='btn_remove_all' class='btn btn-default btn-xs color-gray'>@CaptionResource.RemoveAll</button>
                                <br />
                                @Html.CheckBox("chk_opent_factor_count", false, new { @id = "chk_opent_factor_count", @class = "control-label" })
                                <label for="chk_opent_factor_count">تعدادفاکتورباز</label>
                                <div id="div_opent_factor_count" class="panel-value">
                                    <label for="from_opent_factor_count">از</label>
                                    <input id="from_opent_factor_count" type="number" class="form-control" />

                                    <label for="to_opent_factor_count">تا</label>
                                    <input id="to_opent_factor_count" type="number" class="form-control" />

                                </div>
                                <br />
                                @Html.CheckBox("chk_opent_factor_amount", false, new { @id = "chk_opent_factor_amount", @class = "control-label" })
                                <label for="chk_opent_factor_amount">مبلغ فاکتورباز</label>
                                <div id="div_opent_factor_amount" class="panel-value">
                                    <label for="from_opent_factor_amount">از</label>
                                    <input id="from_opent_factor_amount" type="number" class="form-control" />

                                    <label for="to_opent_factor_amount">تا</label>
                                    <input id="to_opent_factor_amount" type="number" class="form-control" />

                                </div>
                                <br />

                                @Html.CheckBox("chk_opent_factor_day", false, new { @id = "chk_opent_factor_day", @class = "control-label" })
                                <label for="chk_opent_factor_day">تعداد روز فاکتور باز</label>
                                <div id="div_opent_factor_day" class="panel-value">
                                    <label for="from_opent_factor_day">از</label>
                                    <input id="from_opent_factor_day" type="number" class="form-control" />

                                    <label for="to_opent_factor_day">تا</label>
                                    <input id="to_opent_factor_day" type="number" class="form-control" />
                                </div>
                                <br />

                                @Html.CheckBox("chk_reject_cheque_count", false, new { @id = "chk_reject_cheque_count", @class = "control-label" })
                                <label for="chk_reject_cheque_count">تعدادچک برگشتی</label>
                                <div id="div_reject_cheque_count" class="panel-value">
                                    <label for="from_reject_cheque_count">از</label>
                                    <input id="from_reject_cheque_count" type="number" class="form-control" />

                                    <label for="to_reject_cheque_count">تا</label>
                                    <input id="to_reject_cheque_count" type="number" class="form-control" />

                                </div>
                                <br />

                                @Html.CheckBox("chk_reject_cheque_amount", false, new { @id = "chk_reject_cheque_amount", @class = "control-label" })
                                <label for="chk_reject_cheque_amount">مبلغ چک برگشتی</label>
                                <div id="div_reject_cheque_amount" class="panel-value">
                                    <label for="from_reject_cheque_amount">از</label>
                                    <input id="from_reject_cheque_amount" type="number" class="form-control" />

                                    <label for="to_reject_cheque_amount">تا</label>
                                    <input id="to_reject_cheque_amount" type="number" class="form-control" />

                                </div>
                                <br />

                                @Html.CheckBox("chk_inprocess_cheque_count", false, new { @id = "chk_inprocess_cheque_count", @class = "control-label" })
                                <label for="chk_inprocess_cheque_count">تعداد چک درجریان</label>
                                <div id="div_inprocess_cheque_count" class="panel-value">
                                    <label for="from_inprocess_cheque_count">از</label>
                                    <input id="from_inprocess_cheque_count" type="number" class="form-control" />

                                    <label for="to_inprocess_cheque_count">تا</label>
                                    <input id="to_inprocess_cheque_count" type="number" class="form-control" />

                                </div>
                                <br />

                                @Html.CheckBox("chk_inprocess_cheque_amount", false, new { @id = "chk_inprocess_cheque_amount", @class = "control-label" })
                                <label for="chk_inprocess_cheque_amount">مبلغ چک در جریان</label>
                                <div id="div_inprocess_cheque_amount" class="panel-value">
                                    <label for="from_inprocess_cheque_amount">از</label>
                                    <input id="from_inprocess_cheque_amount" type="number" class="form-control" />

                                    <label for="to_inprocess_cheque_amount">تا</label>
                                    <input id="to_inprocess_cheque_amount" type="number" class="form-control" />

                                </div>
                                <br />


                                @Html.CheckBox("chk_first_credit", false, new { @id = "chk_first_credit", @class = "control-label" })
                                <label for="chk_first_credit">اعتباراولیه ی اسنادی</label>
                                <div id="div_first_credit" class="panel-value">
                                    <label for="from_first_credit">از</label>
                                    <input id="from_first_credit" type="number" class="form-control" />

                                    <label for="to_first_credit">تا</label>
                                    <input id="to_first_credit" type="number" class="form-control" />

                                </div>
                                <br />
                                
                                @Html.CheckBox("chk_remained_credit", false, new { @id = "chk_remained_credit", @class = "control-label" })
                                <label for="chk_remained_credit">مانده ی اعتبار اسنادی</label>
                                <div id="div_remained_credit" class="panel-value">
                                    <label for="from_remained_credit">از</label>
                                    <input id="from_remained_credit" type="number" class="form-control" />

                                    <label for="to_remained_credit">تا</label>
                                    <input id="to_remained_credit" type="number" class="form-control" />

                                </div>
                                <br />

                                @Html.CheckBox("chk_first_debit_credit", false, new { @id = "chk_first_debit_credit", @class = "control-label" })
                                <label for="chk_first_debit_credit">اعتباراولیه ی بدهکاری</label>
                                <div id="div_first_debit_credit" class="panel-value">
                                    <label for="from_first_debit_credit">از</label>
                                    <input id="from_first_debit_credit" type="number" class="form-control" />

                                    <label for="to_first_debit_credit">تا</label>
                                    <input id="to_first_debit_credit" type="number" class="form-control" />

                                </div>
                                <br />

                                @Html.CheckBox("chk_remained_debit_credit", false, new { @id = "chk_remained_debit_credit", @class = "control-label" })
                                <label for="chk_remained_debit_credit">مانده ی اعتبار بدهکاری</label>
                                <div id="div_remained_debit_credit" class="panel-value">
                                    <label for="from_remained_debit_credit">از</label>
                                    <input id="from_remained_debit_credit" type="number" class="form-control" />

                                    <label for="to_remained_debit_credit">تا</label>
                                    <input id="to_remained_debit_credit" type="number" class="form-control" />
                                </div>
                                <br />
                                

                            </div>
                        </div>
                        <div id="pnl_info" class="tab-pane fade">
                            <div style="height: 450px" class="frame-border color-back-ligt-gray">
                                <br />
                                <div id="div_info" class="full-width"></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-9">
                <div id="Report_Frame" class="frame-map" style="height: 500px;">
                    <div id="mapContainer"> </div>
                </div>
            </div>

        </div>

    </div>

</div>
